---
import H2 from "../components/H2.astro";
import MenuItem from "../components/MenuItem.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio">
    <section class="baa flex flex-col items-center pb-20 pt-20 text-background">
        <h1 class="text-7xl text-center sm:text-[100px] text-background mt-5 max-w-5xl px-2 xs:px-5 mb-4 xs:mb-0">Nuestro menu</h1>
        <div class="mb-20 flex flex-col xs:flex-row gap-3 font-extralight text-center">
            <a href="#bebidas calientes">Bebidas calientes</a>
            <p class="hidden xs:block">○</p>
            <a href="#snack">snack</a>
            <p class="hidden xs:block">○</p>
            <a href="#bebidas frias">Bebidas frias</a>
        </div>
        <H2 id="bebidas frias" separator>Bebidas frias</H2>
        <div class="grid xs:grid-cols-2 lg:grid-cols-3 gap-10 sm:gap-20 md:gap-24 place-items-center px-2 xs:px-5 w-full max-w-6xl mb-20">
            <MenuItem title="Cafe moccha" price="100" image="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <MenuItem title="Cafe moccha" price="100" image="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <MenuItem title="Cafe moccha" price="100" image="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <MenuItem title="Cafe moccha" price="100" image="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <MenuItem title="Cafe moccha" price="100" image="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <MenuItem title="Cafe moccha" price="100" image="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        </div>
        <H2 id="bebidas calientes" separator>Bebidas calientes</H2>
        <div class="grid xs:grid-cols-2 lg:grid-cols-3 gap-10 sm:gap-20 md:gap-24 place-items-center px-2 xs:px-5 w-full max-w-6xl mb-20">
            <MenuItem title="Cafe moccha" price="100" image="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <MenuItem title="Cafe moccha" price="100" image="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <MenuItem title="Cafe moccha" price="100" image="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <MenuItem title="Cafe moccha" price="100" image="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <MenuItem title="Cafe moccha" price="100" image="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <MenuItem title="Cafe moccha" price="100" image="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        </div>
        <H2 id="snack" separator>Snack</H2>
        <div class="grid xs:grid-cols-2 lg:grid-cols-3 gap-10 sm:gap-20 md:gap-24 place-items-center px-2 xs:px-5 w-full max-w-6xl mb-20">
            <MenuItem title="Cafe moccha" price="100" image="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <MenuItem title="Cafe moccha" price="100" image="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <MenuItem title="Cafe moccha" price="100" image="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <MenuItem title="Cafe moccha" price="100" image="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <MenuItem title="Cafe moccha" price="100" image="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <MenuItem title="Cafe moccha" price="100" image="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        </div>
    </section>
</Layout>

<style is:global>
    .xx {
        filter: drop-shadow(0 -30mm 30mm rgba(250, 198, 96, 0.15));
    }

    .baa {
        background-color: #202020;
        background-size: max(20%, 300px) 20px;
        background-position: center;
        background-image: repeating-linear-gradient(to right, #2c2c2c, #2c2c2c 1px, #202020 1px, #202020);
    }
</style>
