---
const { variant, icon, href } = Astro.props;
---

{
    (!variant || variant === "primary") && (
        <a href={href} class={"inline-block rounded-full w-fit bg-primary text-foreground px-8 py-2 font-medium" + (icon ? " flex gap-1 items-center" : { href })}>
            <slot />
        </a>
    )
}
{
    variant === "outline" && (
        <a href={href} class={"inline-block w-fit rounded-full border-primary border-2 px-8 py-2 font-medium text-background" + (icon ? " flex gap-1 items-center" : "")} style="box-sizing: border-box;">
            <slot />
        </a>
    )
}
